@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
.Form {
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    position: relative;
    padding: 30px;
    margin-left: -60px;
    margin-top:-60px;
}
.size-radio{
    font-size:20px;
}
.form-details {
    padding: 20px;
    border: 2px solid #086454;
    border-radius: 25px;
    box-shadow: 5px 5px 30px #008e76;
    margin-top: 20px;
}
.Items{
    text-align: left;
    width: 460px ;
    display: block;
    margin: 15px;
}
.label{
    display: inline-block;
    width: 190px;
}
.input{
    width: 250px;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: 1px solid #086454;
    border-radius:5px;
}
.submit {
    padding: 10px 15px;
    font-size: 20px;
    border: 2px solid #0a5447;
    border-radius: 15px;
    color: white;
    background-color: #086454;
}
.submit:hover{
    color:#086454;
    background-color: white;
    cursor: pointer;
}        
video{
    width:700px;
    height:80%;
    justify-content:center;
    margin:auto 10px;
    border-radius: 25px;
    border: 2px outset #086454;
}
.logIn {
    text-decoration: none;
    color: #008e76;
}
.radio{
    margin-right:10px;
}
.validate{
    font-size:16px;
}
.log-media{
    padding-top:10px;
}
@media(max-width:800px) {
    .Form {
        margin: auto;
    }

    video {
        width: 90%;
        margin: auto;
        margin-left: 6%;
    }

    .label {
        display: flex;
        width: fit-content;
    }

    .Items {
        width: fit-content;
        justify-content: center;
    }

    .input {
        width: 200px;
    }
    .submit{
        font-size:17px;
    }
    .rad{
        margin:auto;
    }

}
@media(max-width:400px){
    .label{
        font-size:15px;
    }
    .input {
        width: 160px;
        margin:auto;
    }
    .validate{
        font-size:12px;
    }
    .input::placeholder{
        font-size:15px;
    }
    .size-radio{
        font-size:15px;
    }
    .log-media{
        font-size:15px;
    }
    .submit{
        padding:5px 10px;
    }

}