@model Category
@{
    ViewBag.Title = "Add_New_Category";
    Layout = "~/Views/shared/_layout.cshtml";
}
@section link{
    <link href="~/Content/LogIn.css" rel="stylesheet" />
    <link href="~/Content/SignUp.css" rel="stylesheet" />
    <link href="~/Content/Card.css" rel="stylesheet" />
}
@section navlog{
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
        <a style="text-decoration:none;display:flex;" href="~/Home/Editor"><h1 class="logo1"> BaliBey<img src="~/images/magic.png" alt="magic" width="47" /> </h1></a>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-3 col-sm-2 col-2">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn" style=" border: 3px solid White;
                                                                           border-radius: 10px;">
                <i style="margin-right:2px;" class="fas fa-list-ul dropbtn"></i>
            </button>
            <div id="show" class="dropdown-content">
                <a class="li a" href="~/Home/Editor"><i style="margin-right:2px;" class="fas fa-mug-hot"></i> Menu</a>
                <a class="li a" href="#search"> <i style="margin-right:2px;" class="fas fa-search"></i>  Search Menu </a>
                <a class="li a" href="#about"> <i style="margin-right:2px;" class="fas fa-address-card"> </i>  About Us </a>
                <a class="li a" href="#Social"> <i style="margin-right:2px;" class="fas fa-headphones-alt"> </i>  Contacts </a>
            </div>
        </div>
    </div>
    <div class="Register col-xl-3 col-lg-3 col-md-5 col-sm-6 col-6">
        <a class="a-log1" href="~/Index/Register"> <i style="margin-right:2px;" class="fas fa-user-plus"> </i> Add User </a>
        <a class="a-log1" href="~/Home/Logout"><i style="margin-right:2px;" class="fas fa-key"></i> Logout </a>
    </div>
}
<section class="MenSec">
    <p class="Title">Add Category</p>
    <div class="Form" style="margin:auto">
        @using (Html.BeginForm("AddCategory", "Home", FormMethod.Post, new { @class = "form-details" }))
        {
            <div>
                <img src="~/images/3.png" alt="Balibey" style="width: 50%;">
            </div>
            <div class="Items">
                @Html.LabelFor(ww => ww.Cat, htmlAttributes: new { @class = "labell" } ):
                @Html.EditorFor(ww => ww.Cat, new { htmlattributes = new { @class = "inputt", @placeholder = "Name" } })
                <br />
                @Html.ValidationMessageFor(ww => ww.Cat, "", new { @class = " text-danger ", @style = "font-size:16px;" })
            </div>
            <div>
                <input type="submit" class="submitt" value="Add Category">
                <p style="padding-top:10px;">Back To @Html.ActionLink("Edit_Menu", "Editor", "Home", new { @class = "logIn" })</p>
            </div>
        }
    </div>
</section>
@section search{ }